*{
    scroll-behavior: smooth;
}
body{
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Urbanist', sans-serif;
    font-size: 16px;
    line-height: 1.3em;
    color: #000;
    background-color: #fff;
}
.conteiner{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
a{
    text-decoration: none;
    color: inherit;
    transition: 0.25s;
}
a:hover{
    color: #000000;
}
